<footer>
  <div class="row no-margin"> 
    <div class="col-xs-12 col-md-8 position central">
      <div id="site-map" class="col-xs-12 col-sm-4">
        <h5>Site map</h5>
        <ul>
          <li><a href="/">About</a></li>
          <li><a href="/">Volunteers</a></li>
          <li><a href="/">Non-Profits</a></li>
          <li><a href="/">Projects</a></li>
          <li><a href="/">Events</a></li>
        </ul>
      </div>

      <div id="know-us" class="col-xs-12 col-sm-4">
        <h5>Get to know us</h5>
        <ul>
          {% if site.twitter_username %}
            <li><a href="/">{% include icon-twitter.html username=site.twitter_username %}</a></li>
          {% endif %}
          {% if site.facebook_username %}
            <li><a href="/">{% include icon-facebook.html username=site.facebook_username %}</a></li>
          {% endif %}
          {% if site.medium_username %}
            <li><a href="/">{% include icon-medium.html username=site.medium_username %}</a></li>
          {% endif %}
          {% if site.github_username %}
            <li><a href="/">{% include icon-github.html username=site.github_username %}</a></li>
          {% endif %}
        </ul>
      </div>

      <div id="get-involved" class="col-xs-12 col-sm-4">
        <h5>Get Involved</h5>
        <ul>
          <li><a href="/">Volunteer with us</a></li>
          <li><a href="/">Work with us</a></li>
        </ul>
      </div>

      <div class="col-xs-12">
        <div class="col-xs-12 col-md-7 position central text-center">
          <p>Copyright &#xA9; Women Hack For Non-Profits 2016.</p>
        </div>
      </div>

    </div>
  </div>
</footer>
