<nav class="navbar navbar-default" role="navigation">
	<div class="col-xs-12 col-sm-8 position central">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false">
	        <span class="sr-only">Toggle Navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a href="http://echesters.co.uk/WHFNP-Website/index.html" class="site-title navbar-brand"><img src="images/Logo.svg" alt="logo"></a>
	    </div>
	    <div class="navbar-collapse collapse in" id="mynavbar" aria-expanded="true">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="//echesters.github.io/WHFNP-Website/about.html">About</a></li>
	        <li><a href="//echesters.github.io/WHFNP-Website/volunteers.html">Volunteers</a></li>
	        <li><a href="//echesters.github.io/WHFNP-Website/non-profits.html">Non-Profits</a></li>
	        <li><a href="//echesters.github.io/WHFNP-Website/projects.html">Projects</a></li>
	        <li><a href="//echesters.github.io/WHFNP-Website/events.html">Events</a></li>
	      </ul>
	    </div>
	  </div>
	</div>
</nav>