.section {
  margin-right: initial !important;
  overflow: hidden;
  padding: 30px 0px;

  @media (min-width: 1024px) {
    padding: 60px;
  }

  &.first {
    margin-top: $banner-height;
  }

  h2 {
    text-align: center;
  }

  &#volunteers, &#non-profits {
    display: flex;
    overflow-x: hidden;
    background-color: $color-2;
    color: #fff;
    padding: 0;

    @media (max-width: 768px) {
      display: block;
    }

    a {
      color: #fff;
      font-weight: $base-font-weight;
      text-decoration: underline;

      &.btn {
        text-decoration: none;
      }
    }
  }

  &#non-profits {
    background-color: $color-3;
  }

  .description {
    margin-top: 60px;
  }

  &.pink {
    background-color: $color-4;
    color: #fff;
  }

  &.blue {
    background-color: $color-2;
    color: #fff;
  }
}

.boxes {
  display: flex;

  @media (max-width: 768px) {
    display: block;
  }
}

.box {
  border: 1px solid $color-1;
  text-align: center;
  margin: 0 30px 30px 30px;
  @include border-radius(5px);

  @media (max-width: 768px) {
    margin: 0 0 30px 0;
  }

  .fa {
    font-size: 70px;
    margin: 15px;
  }

  h3 {
    text-transform: uppercase;
    color: $grey-color;
    font-size: $small-font-size;
    letter-spacing: 5px;
  }
}