.grid {
	display: block;
	width: 100%;

	@for $i from 1 through 12 {
		.col-1-#{$i} {
			width: percentage($i / 12);
		}
	}

	.col-71 {
		width: 71%;
	}

	.cell {
		display: inline-block;
		padding: 5px;
		min-height: 30px;
		// vertical-align: middle;
		overflow: visible;
		// border: 1px solid black;

		&.zebra {
			border-top: solid 1px $light-gray;
			border-bottom: solid 1px $light-gray;
		}
	}

	.right {
		float: right;
	}

	.left {
		float: left;
	}

	.center {
		width: 100%;
		margin: 0 auto;
	}

	.extra-padding {
		padding: 25px 50px;
	}
}