/* IMPORTS ------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,200,300,900|Playfair+Display:400italic);
/* COLOURS ------------------------------ */
/* FONTS -------------------------------- */
/* SPACING ------------------------------ */
/* IMPORTS ------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,200,300,900|Playfair+Display:400italic);
/* COLOURS ------------------------------ */
/* FONTS -------------------------------- */
/* SPACING ------------------------------ */
@import url(http://fonts.googleapis.com/css?family=Lato:400,200,300,900|Playfair+Display:400italic);
@import url(http://fonts.googleapis.com/css?family=Lato:400,200,300,900|Playfair+Display:400italic);
@import url(http://fonts.googleapis.com/css?family=Lato:400,200,300,900|Playfair+Display:400italic);
@import url(http://fonts.googleapis.com/css?family=Lato:400,200,300,900|Playfair+Display:400italic);
@import url(http://fonts.googleapis.com/css?family=Lato:400,200,300,900|Playfair+Display:400italic);
@import url(http://fonts.googleapis.com/css?family=Lato:400,200,300,900|Playfair+Display:400italic);
.divider {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  width: 85%;
  margin: 0 auto; }

body {
  background-color: #eeeeee;
  font-family: "Lato", sans-serif; }

* {
  box-sizing: border-box; }

#content {
  background-color: #ffffff;
  border: #dadada 1px solid;
  margin: 0 auto;
  width: 85%;
  min-height: 1000px;
  overflow: hidden; }

#volunteers p.block-p {
  padding-bottom: 0; }
#volunteers p.quote {
  font-size: 1.1em;
  line-height: 1.3em; }

.extra-padding-vertical-sides {
  padding-top: 25px !important;
  padding-bottom: 25px !important; }

.extra-padding-horizontal-sides {
  padding-left: 50px;
  padding-right: 50px; }

.extra-margin-top {
  margin-top: 25px; }

.extra-margin-bottom {
  margin-bottom: 25px; }

.padding-left {
  padding-left: 50px; }

.margin-right {
  margin-right: 50px; }

.small-margin-vertical-sides {
  margin-top: 5px;
  margin-bottom: 10px; }

.overflow-hidden {
  overflow: hidden;
  width: 100%; }

.vertical-middle {
  position: relative;
  top: -50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%); }

span.bold {
  font-weight: 400; }

.social-media-link {
  color: #111111;
  text-decoration: none; }
  .social-media-link i {
    font-size: 2.5em;
    vertical-align: middle;
    padding-right: 5px; }

.text-centre {
  text-align: center; }

/* SECTIONS ------------------------------------- */
.central {
  margin: 0 auto;
  text-align: center;
  width: 100%; }
  .central.text-left {
    text-align: left; }

.box-bg {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .box-bg.half-grid {
    width: 50%; }
  .box-bg.volunteer {
    height: 200px; }
  .box-bg.partner {
    width: 200px;
    text-align: center;
    max-height: 150px;
    margin-bottom: 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
  .box-bg.project {
    max-width: 180%;
    max-height: 120%;
    background-size: cover;
    height: auto;
    width: auto; }

.grid {
  display: block;
  width: 100%; }
  .grid .col-1-1 {
    width: 8.33333%; }
  .grid .col-1-2 {
    width: 16.66667%; }
  .grid .col-1-3 {
    width: 25%; }
  .grid .col-1-4 {
    width: 33.33333%; }
  .grid .col-1-5 {
    width: 41.66667%; }
  .grid .col-1-6 {
    width: 50%; }
  .grid .col-1-7 {
    width: 58.33333%; }
  .grid .col-1-8 {
    width: 66.66667%; }
  .grid .col-1-9 {
    width: 75%; }
  .grid .col-1-10 {
    width: 83.33333%; }
  .grid .col-1-11 {
    width: 91.66667%; }
  .grid .col-1-12 {
    width: 100%; }
  .grid .col-71 {
    width: 71%; }
  .grid .cell {
    display: inline-block;
    padding: 5px;
    min-height: 30px;
    overflow: visible; }
    .grid .cell.zebra {
      border-top: solid 1px #eeeeee;
      border-bottom: solid 1px #eeeeee; }
  .grid .right {
    float: right; }
  .grid .left {
    float: left; }
  .grid .center {
    width: 100%;
    margin: 0 auto; }
  .grid .extra-padding {
    padding: 25px 50px; }

/* IMPORTS ------------------------------*/
/* COLOURS ------------------------------ */
/* FONTS -------------------------------- */
/* SPACING ------------------------------ */
body {
  font-family: "Lato", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  padding-bottom: 15px; }

h1 {
  font-size: 3.5em;
  font-weight: 900; }

h2 {
  font-size: 3em; }

h3 {
  font-size: 2.5em; }

h4 {
  font-size: 2em; }
  h4.quote {
    font-style: italic;
    font-weight: 200;
    padding-bottom: 0; }

h5 {
  font-size: 1.5em; }

p.block-p {
  line-height: 2em;
  padding-bottom: 20px;
  font-weight: 300; }
p.mini-title {
  font-weight: 400; }
p.quote {
  font-weight: 200;
  font-size: 1em;
  font-style: italic;
  margin: 10px 0; }

.text-centre {
  text-align: center; }

span.bold {
  font-weight: 400; }

.txt-shadow {
  text-shadow: 0px 0px 24px #111111; }

.social-icon {
  text-align: center;
  color: #da2425;
  padding: 10px 0; }
  .social-icon.small {
    font-size: 1.5em; }
  .social-icon.medium {
    font-size: 2.5em; }
  .social-icon.large {
    font-size: 3.5em; }

/* IMPORTS ------------------------------*/
/* COLOURS ------------------------------ */
/* FONTS -------------------------------- */
/* SPACING ------------------------------ */
#question-nav {
  border: 1px solid #eeeeee;
  padding: 20px;
  margin-top: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  #question-nav a {
    text-decoration: none;
    color: #111111;
    display: block;
    line-height: 2em; }

.question {
  height: 300px;
  border-top: 3px solid #da2425;
  padding: 2% 5% !important; }
  .question h5 {
    font-size: 1.5em;
    font-weight: 400; }
  .question p {
    line-height: 1.5em; }

/* IMPORTS ------------------------------*/
/* COLOURS ------------------------------ */
/* FONTS -------------------------------- */
/* SPACING ------------------------------ */
a.button, input[type="submit"].button {
  padding: 15px 25px;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 1em; }
  a.button.primary, input[type="submit"].button.primary {
    background-color: #da2425; }
    a.button.primary:hover, input[type="submit"].button.primary:hover {
      background-color: #B91E1E;
      cursor: pointer;
      text-decoration: underline; }
  a.button.secondary, input[type="submit"].button.secondary {
    background-color: #0086cd; }
    a.button.secondary:hover, input[type="submit"].button.secondary:hover {
      background-color: #0072AF;
      cursor: pointer;
      text-decoration: underline; }
  a.button.transparent, input[type="submit"].button.transparent {
    border: 2px solid #ffffff;
    background-color: rgba(213, 212, 223, 0.1);
    padding: 20px 40px; }
    a.button.transparent.primary:hover, input[type="submit"].button.transparent.primary:hover {
      border: 2px solid #B91E1E;
      background-color: #da2425;
      cursor: pointer;
      text-decoration: underline; }
    a.button.transparent.secondary:hover, input[type="submit"].button.transparent.secondary:hover {
      border: 2px solid #0072AF;
      background-color: #0086cd;
      cursor: pointer;
      text-decoration: underline; }

/* IMPORTS ------------------------------*/
/* COLOURS ------------------------------ */
/* FONTS -------------------------------- */
/* SPACING ------------------------------ */
nav {
  border-bottom: #da2425 solid 3px;
  overflow: auto;
  padding: 5px 0;
  background-color: #ffffff; }
  nav.home-nav {
    border-bottom: none !important; }
  nav .nav-logo {
    display: inline-block;
    float: left;
    height: 40px;
    margin-left: 2%; }
  nav ul {
    display: inline-block;
    float: right;
    margin-right: 2%; }
    nav ul li {
      display: inline-block;
      position: relative;
      top: -50%;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%); }
      nav ul li a {
        color: #111111;
        padding: 30px;
        /* iPads (portrait and landscape) ----------- */ }
        @media only screen and (max-device-width: 1024px) {
          nav ul li a {
            padding: 10px; } }
        nav ul li a:hover {
          background-color: #da2425;
          color: #ffffff; }
        nav ul li a:visited {
          color: #111111; }

.img-container {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  height: 120px;
  width: auto;
  overflow: hidden; }
  .img-container img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 180%;
    max-height: 120%;
    background-size: cover;
    height: auto;
    width: auto; }
  .img-container.medium {
    height: 300px; }
  .img-container.volunteer {
    width: 96px; }

img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  img.half-grid {
    width: 50%; }
  img.volunteer {
    height: 200px; }
  img.partner {
    width: 200px;
    text-align: center;
    max-height: 150px;
    margin-bottom: 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
  img.project {
    max-width: 180%;
    max-height: 120%;
    background-size: cover;
    height: auto;
    width: auto; }
  img.full-width {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }

/* IMPORTS ------------------------------*/
/* COLOURS ------------------------------ */
/* FONTS -------------------------------- */
/* SPACING ------------------------------ */
/* IMPORTS ------------------------------*/
/* COLOURS ------------------------------ */
/* FONTS -------------------------------- */
/* SPACING ------------------------------ */
#sign-up {
  width: 60%; }
  #sign-up label, #sign-up input {
    display: block;
    margin: 10px 0;
    float: none; }
  #sign-up input[type=text], #sign-up textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    border: 1px solid #eeeeee;
    font-size: 13px; }
  #sign-up input[type=submit] {
    float: right; }

#banner-title {
  padding: 1%;
  background-color: #ffffff;
  border-bottom: #da2425 solid 3px; }
  #banner-title h5 {
    width: 50%;
    margin: 0 auto;
    font-weight: 300; }

.banner {
  top: 0;
  left: 0; }

.banner-half {
  color: #ffffff;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1; }
  .banner-half.cell {
    padding: 0 !important; }
  .banner-half#volunteer {
    left: 0;
    border-right: 1px solid #111111;
    background-image: url("../../images/home-page/v-blur-grey.jpg");
    background-size: cover; }
    .banner-half#volunteer:hover {
      background: url("../../images/home-page/v-blur-red.jpg");
      background-size: cover; }
  .banner-half#nonprofits {
    background: url("../../images/home-page/np-blur-grey.jpg");
    background-size: cover;
    right: 0;
    border-left: 1px solid #111111; }
    .banner-half#nonprofits:hover {
      background: url("../../images/home-page/np-blur-blue.jpg");
      background-size: cover; }

.v-middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 100; }

#banner {
  height: 400px;
  overflow: hidden;
  width: 100%;
  background-image: url("../../images/banner-blur.jpg");
  background-size: cover; }
  #banner h2 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #ffffff;
    font-weight: 900;
    font-size: 3em;
    display: block;
    text-align: center;
    margin: 0 auto;
    text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.7); }

.founder {
  display: block;
  max-height: 350px;
  color: #ffffff;
  text-align: center; }
  .founder.cell {
    padding: 0 !important;
    height: 350px; }
  .founder.nandhini {
    background: url("../../images/volunteers/nandhini.jpg");
    background-size: cover; }
  .founder.vinita {
    background: url("../../images/volunteers/vinita.jpg");
    background-size: cover; }
  .founder img {
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    position: relative; }
  .founder .founder-text {
    position: absolute;
    width: 100%; }

#people {
  overflow: hidden;
  clear: both; }
  #people .cell {
    padding: 0;
    display: block;
    float: left;
    overflow: hidden;
    height: 250px; }
  #people .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  #people .person img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
  #people .person .text {
    position: relative;
    color: #ffffff;
    position: relative;
    top: -130%;
    -webkit-transform: translateY(130%);
    -ms-transform: translateY(130%);
    transform: translateY(130%);
    text-align: center; }
    #people .person .text h5 {
      padding-bottom: 0; }

/*# sourceMappingURL=base.css.map */
