@import '_vars';

@mixin vertical-align($percent) {
  position: 			       	relative;
  top: 					          $percent;
  -webkit-transform: 	   	translateY(-$percent);
  -ms-transform: 		     	translateY(-$percent);
  transform: 			       	translateY(-$percent);
}

@mixin drop-shadow($colour) {
	-webkit-box-shadow: 0 8px 6px -6px $colour;
     -moz-box-shadow: 0 8px 6px -6px $colour;
          box-shadow: 0 8px 6px -6px $colour;
}

@mixin dynamic-sizing() {
  max-width:             180%;
  max-height:            120%;
  background-size:       cover;
  height:                auto;
  width:                 auto;
}