@import '_vars';
@import '_mixins';

body {
	background-color: $light-gray;
	font-family: $primary-font;
}

* {
	box-sizing: border-box;
}

nav {
	border-bottom: $primary solid 3px;
	overflow: auto;
	padding: 5px 0;
	@include drop-shadow($border-gray);

	.nav-logo {
		display: inline-block;
		float: left;
		height: 40px;
		margin-left: 2%;
	}

	ul {
		display: inline-block;
		float: right;
		margin-right: 2%;

		li {
			display: inline-block;
			@include vertical-align(-50%);

			a {
				color: $black;
				padding: 30px;

				&:hover {
					background-color: $primary;
					color: $white;
				}

				&:visited {
					color: $black;
				}
			}
		}
	}
}

#content {
	background-color: $white;
	border: $border-gray 1px solid;
	margin: 0 auto;
	width: 85%;
	min-height: 1000px;
}

#banner {
	max-height: 450px;
	overflow: hidden;
	img {
		@include dynamic-sizing();
		width: 100%;
	}
}

.grid {
	display: block;
	width: 100%;
	overflow: auto;

	@for $i from 1 through 12 {
		.col-1-#{$i} {
			width: percentage($i / 12);
		}
	}

	.cell {
		display: inline-grid;
		padding: 5px;
		min-height: 30px;
		vertical-align: middle;
		// border: 1px solid black;
	}

	.right {
		float: right;
	}

	.left {
		float: left;
	}

	.center {
		float: center;
	}

	.extra-padding {
		padding: 25px 100px 25px 50px;
	}
}

.extra-padding-vertical-sides {
	padding: 25px 0 !important;
}

.small-margin-vertical-sides {
	margin-top: 5px;
	margin-bottom: 10px;
}

p {
	&.block-p {
		line-height: 2em;
		padding-bottom: 20px;
		font-weight: $font-light;
	}

	&.mini-title {
		font-weight: $font-regular;
	}
}

/* TEXT ------------------------------------------ */
h2 {
	font-weight: $font-xlight;
	font-size: $h2-size;
}

h3 {
	font-weight: $font-xlight;
	font-size: $h3-size;
}

h4 {
	&.quote {
		font-family: $quote-font;
		font-size: $h4-size;
		font-style: italic;
	}
}

.social-media-link {
	color: $black;
	text-decoration: none;
	i {
		font-size: 2.5em;
		vertical-align: middle;
		padding-right: 5px;
	}
}

.text-centre {
	text-align: center;
	margin: 0 auto;
}

.text-right {
	text-align: right;
}

/* BUTTONS --------------------------------------- */
a.button {
	padding: 15px 25px;
	color: $white;
	@include border-radius(5px);
	text-decoration: none;
	display: inline-block;

	&.primary {
		background-color: $primary;
	}

	&.secondary {
		background-color: $secondary;
	}
}

/* IMAGES --------------------------------------- */
img {
	@include border-radius(5px);
	&.half-grid {
		width: 50%;
	}
}

/* SECTIONS ------------------------------------- */
.central {
	margin: 0 auto;
	text-align: center;
	width: 100%;
}