/* IMPORTS ------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,900|Playfair+Display:400italic);
/* COLOURS ------------------------------*/
/* FONTS --------------------------------*/
/* IMPORTS ------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,900|Playfair+Display:400italic);
/* COLOURS ------------------------------*/
/* FONTS --------------------------------*/
.divider {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  width: 85%;
  margin: 0 auto; }

body {
  background-color: #eeeeee;
  font-family: "Lato", sans-serif; }

* {
  box-sizing: border-box; }

nav {
  border-bottom: #e86427 solid 3px;
  overflow: auto;
  padding: 5px 0;
  -webkit-box-shadow: 0 8px 6px -6px #dadada;
  -moz-box-shadow: 0 8px 6px -6px #dadada;
  box-shadow: 0 8px 6px -6px #dadada; }
  nav .nav-logo {
    display: inline-block;
    float: left;
    height: 40px;
    margin-left: 2%; }
  nav ul {
    display: inline-block;
    float: right;
    margin-right: 2%; }
    nav ul li {
      display: inline-block;
      position: relative;
      top: -50%;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%); }
      nav ul li a {
        color: #111111;
        padding: 30px; }
        nav ul li a:hover {
          background-color: #e86427;
          color: #ffffff; }
        nav ul li a:visited {
          color: #111111; }

#content {
  background-color: #ffffff;
  border: #dadada 1px solid;
  margin: 0 auto;
  width: 85%;
  min-height: 1000px;
  padding-top: 35%;
  overflow: hidden; }

#banner {
  max-height: 450px;
  overflow: hidden;
  width: 100%; }
  #banner img {
    max-width: 180%;
    max-height: 120%;
    background-size: cover;
    height: auto;
    width: auto;
    width: 100%;
    position: absolute;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
  #banner h2 {
    color: #ffffff;
    position: absolute;
    font-weight: 300;
    margin-top: 17%;
    font-size: 2em;
    width: 76%;
    display: block;
    line-height: 1.5em;
    text-align: center;
    left: 50%;
    margin-left: -38%;
    text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.7); }

.grid {
  display: block;
  width: 100%;
  overflow: auto; }
  .grid .col-1-1 {
    width: 8.33333%; }
  .grid .col-1-2 {
    width: 16.66667%; }
  .grid .col-1-3 {
    width: 25%; }
  .grid .col-1-4 {
    width: 33.33333%; }
  .grid .col-1-5 {
    width: 41.66667%; }
  .grid .col-1-6 {
    width: 50%; }
  .grid .col-1-7 {
    width: 58.33333%; }
  .grid .col-1-8 {
    width: 66.66667%; }
  .grid .col-1-9 {
    width: 75%; }
  .grid .col-1-10 {
    width: 83.33333%; }
  .grid .col-1-11 {
    width: 91.66667%; }
  .grid .col-1-12 {
    width: 100%; }
  .grid .col-71 {
    width: 71%; }
  .grid .cell {
    display: inline-block;
    padding: 5px;
    min-height: 30px;
    vertical-align: middle;
    overflow: visible; }
  .grid .right {
    float: right; }
  .grid .left {
    float: left; }
  .grid .center {
    width: 100%;
    margin: 0 auto; }
  .grid .extra-padding {
    padding: 25px 100px 25px 50px; }

.question {
  height: 100px; }
  .question h5 {
    font-size: 1.5em;
    font-weight: 400; }
  .question p {
    padding-left: 6%;
    line-height: 1.5em; }

.extra-padding-vertical-sides {
  padding-top: 25px !important;
  padding-bottom: 25px !important; }

.extra-padding-horizontal-sides {
  padding: 0 50px; }

.extra-margin-top {
  margin-top: 25px; }

.extra-margin-bottom {
  margin-bottom: 25px; }

.margin-left {
  margin-left: 50px; }

.margin-right {
  margin-right: 50px; }

.small-margin-vertical-sides {
  margin-top: 5px;
  margin-bottom: 10px; }

.overflow-hidden {
  overflow: hidden;
  max-width: 100%; }

p.block-p {
  line-height: 2em;
  padding-bottom: 20px;
  font-weight: 300; }
p.mini-title {
  font-weight: 400; }
p.quote {
  font-family: "Playfair Display", serif;
  font-size: 1em;
  font-style: italic;
  margin: 10px 0; }

span.bold {
  font-weight: 400; }

/* TEXT ------------------------------------------ */
h2 {
  font-weight: 100;
  font-size: 3em; }

h3 {
  font-weight: 100;
  font-size: 2.6em; }

h4.quote {
  font-family: "Playfair Display", serif;
  font-size: 2em;
  font-style: italic; }

h5 {
  font-weight: 400;
  font-size: 1.3em; }

.social-media-link {
  color: #111111;
  text-decoration: none; }
  .social-media-link i {
    font-size: 2.5em;
    vertical-align: middle;
    padding-right: 5px; }

.text-centre {
  text-align: center;
  margin: 0 auto; }

.text-right {
  text-align: right; }

/* BUTTONS --------------------------------------- */
a.button {
  padding: 15px 25px;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block; }
  a.button.primary {
    background-color: #e86427; }
  a.button.secondary {
    background-color: #0086cd; }

/* IMAGES --------------------------------------- */
.img-container {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  height: 120px;
  width: auto;
  overflow: hidden; }
  .img-container img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 180%;
    max-height: 120%;
    background-size: cover;
    height: auto;
    width: auto; }
  .img-container.medium {
    height: 300px; }
  .img-container.volunteer {
    width: 96px; }

img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  img.half-grid {
    width: 50%; }
  img.volunteer {
    height: 200px; }
  img.partner {
    width: 200px;
    text-align: center;
    max-height: 150px;
    margin-bottom: 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
  img.project {
    max-width: 180%;
    max-height: 120%;
    background-size: cover;
    height: auto;
    width: auto; }

/* SECTIONS ------------------------------------- */
.central {
  margin: 0 auto;
  text-align: center;
  width: 100%; }

/*# sourceMappingURL=main.css.map */
