/* IMPORTS ------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,900|Playfair+Display:400italic);
/* COLOURS ------------------------------*/
/* FONTS --------------------------------*/
/* IMPORTS ------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,200,300,900|Playfair+Display:400italic);
/* COLOURS ------------------------------ */
/* FONTS -------------------------------- */
/* SPACING ------------------------------ */
.divider {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  width: 85%;
  margin: 0 auto; }

body {
  background-color: #eeeeee;
  font-family: "Lato", sans-serif; }

* {
  box-sizing: border-box; }

#content {
  background-color: #ffffff;
  border: #dadada 1px solid;
  margin: 0 auto;
  width: 85%;
  min-height: 1000px;
  padding-top: 35%;
  overflow: hidden; }

#banner {
  max-height: 450px;
  overflow: hidden;
  width: 100%; }
  #banner img {
    max-width: 180%;
    max-height: 120%;
    background-size: cover;
    height: auto;
    width: auto;
    width: 100%;
    position: absolute;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
  #banner h2 {
    color: #ffffff;
    position: relative;
    font-weight: 300;
    font-size: 2em;
    width: 76%;
    display: block;
    line-height: 1.5em;
    text-align: center;
    left: 50%;
    margin-left: -38%;
    text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.7); }
    #banner h2:first-child {
      margin-top: 17%;
      font-size: 3em; }

#volunteers p.block-p {
  padding-bottom: 0; }
#volunteers p.quote {
  font-size: 1.1em;
  line-height: 1.3em; }

.extra-padding-vertical-sides {
  padding-top: 25px !important;
  padding-bottom: 25px !important; }

.extra-padding-horizontal-sides {
  padding-left: 50px;
  padding-right: 50px; }

.extra-margin-top {
  margin-top: 25px; }

.extra-margin-bottom {
  margin-bottom: 25px; }

.padding-left {
  padding-left: 50px; }

.margin-right {
  margin-right: 50px; }

.small-margin-vertical-sides {
  margin-top: 5px;
  margin-bottom: 10px; }

.overflow-hidden {
  overflow: hidden;
  max-width: 100%; }

.vertical-middle {
  position: relative;
  top: -50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%); }

p.block-p {
  line-height: 2em;
  padding-bottom: 20px;
  font-weight: 300;
  word-wrap: keep-all; }
p.mini-title {
  font-weight: 400; }
p.quote {
  font-family: "Playfair Display", serif;
  font-size: 1em;
  font-style: italic;
  margin: 10px 0; }

span.bold {
  font-weight: 400; }

/* TEXT ------------------------------------------ */
h2 {
  font-weight: 200;
  font-size: 3em; }

h3 {
  font-weight: 200;
  font-size: 2.5em; }

h4 {
  font-size: 2em;
  font-weight: 100; }
  h4.quote {
    font-family: "Playfair Display", serif;
    font-style: italic; }

h5 {
  font-weight: 400;
  font-size: 1.5em; }

.social-media-link {
  color: #111111;
  text-decoration: none; }
  .social-media-link i {
    font-size: 2.5em;
    vertical-align: middle;
    padding-right: 5px; }

.text-centre {
  text-align: center; }

/* SECTIONS ------------------------------------- */
.central {
  margin: 0 auto;
  text-align: center;
  width: 100%; }
  .central.text-left {
    text-align: left; }

.box-bg {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .box-bg.half-grid {
    width: 50%; }
  .box-bg.volunteer {
    height: 200px; }
  .box-bg.partner {
    width: 200px;
    text-align: center;
    max-height: 150px;
    margin-bottom: 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
  .box-bg.project {
    max-width: 180%;
    max-height: 120%;
    background-size: cover;
    height: auto;
    width: auto; }

/*# sourceMappingURL=main.css.map */
