@import '_vars';

body {
  background-color: $white;
}

/* Parallax base styles
--------------------------------------------- */

.parallax {
  height: 1000px; /* fallback for older browsers */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  height: 1000px; /* fallback for older browsers */
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__layer--fore {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}

.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2;
}
/* style the groups
--------------------------------------------- */

#group1 {
  z-index: 5; /* slide over group 2 */
}
#group1 .parallax__layer--fore {
  background: url('../images/text-layer-1.png');
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}
#group1 .parallax__layer--base {
  background: url('../images/banner-blur.jpg');
  background-size: cover;
  min-height: 100vh !important;
}

#group2 {
    z-index: 3; /* slide under groups 1 and 3 */
    height: 300px;
}
#group2 .parallax__layer--back {
  background: $white;
  height: 100px;
}

#group3 {
  z-index: 4; /* slide over group 2 and 4 */
}
#group3 .parallax__layer--fore {
  background: url('../images/text-layer-1.png');
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
}
#group3 .parallax__layer--base {
  background: url('../images/banner-blur.jpg');
  background-size: cover;
  height: 550px;
}

#group4 {
  z-index: 2; /* slide under group 3 and 5 */
}
#group4 .parallax__layer--back {
  background: url('../images/IMG_4512.jpg');
  background-size: cover;
}
#group4 .parallax__layer--deep {
  background: $white;
}

#group5 {
  z-index: 3; /* slide over group 4 and 6 */
  background-size: 250px;
}
#group5 .parallax__layer--base {
  /*background-size: 250px;*/
  background: url('../images/project-1.jpg');
  background-size: cover;
}
#group5 .parallax__layer--fore {
  // background: url('../images/layer-1.png');
  // background-size: cover;
}

#group6 {
  z-index: 2; /* slide under group 5 and 7 */
}
#group6 .parallax__layer--back {
  background: url('../images/home-1.jpg');
  background-size: cover;
}

#group7 {
  z-index: 3; /* slide over group 7 */
}
#group7 .parallax__layer--base {
  background: url('../images/nonprofit-1.JPG');
  background-size: cover;
}
