#banner-title {
	padding: 1%;
	// @include vertical-align(50%);
	background-color: $white;
	border-bottom: $primary solid 3px;

	h5 {
		width: 50%;
		margin: 0 auto;
		font-weight: $font-light;
	}
}

.banner {
	top: 0;
	left: 0;
	// height: 100vh;
}

.banner-half {
	color: $white;
	height: 100vh;
	position: absolute;
	top: 0;
	z-index: -1;

	&.cell {
		padding: 0 !important;
	}

	&#volunteer {
		left: 0;
		border-right: 1px solid $black;
		background-image: url('../../images/home-page/v-blur-grey.jpg');
		background-size: cover;

		&:hover {
			background: url('../../images/home-page/v-blur-red.jpg');
			background-size: cover;
		}
	}

	&#nonprofits {
		background: url('../../images/home-page/np-blur-grey.jpg');
		background-size: cover;
		right: 0;
		border-left: 1px solid $black;

		&:hover {
			background: url('../../images/home-page/np-blur-blue.jpg');
			background-size: cover;
		}
	}
}

.v-middle {
	@include vertical-align(50%);
	z-index: 100;
}