@import '../partials/_vars';

a.button, input[type="submit"].button {
	padding: $button-padd-v $button-padd-h;
	color: $white;
	@include border-radius(5px);
	text-decoration: none;
	display: inline-block;
	border: none;
	font-family: $primary-font;
	font-size: $p-quote-size;

	&.primary {
		background-color: $primary;

		&:hover {
			background-color: $primary-darker;
			cursor: pointer;
			text-decoration: underline;
		}
	}

	&.secondary {
		background-color: $secondary;

		&:hover {
			background-color: $secondary-darker;
			cursor: pointer;
			text-decoration: underline;
		}
	}

		&.transparent {
		border: 2px solid $white;
		background-color: rgba(213, 212, 223, 0.1);
		padding: 20px 40px;

		&.primary {
		&:hover {
			border: 2px solid $primary-darker;
			background-color: $primary;
			cursor: pointer;
			text-decoration: underline;
		}
		}

		&.secondary:hover {
			border: 2px solid $secondary-darker;
			background-color: $secondary;
			cursor: pointer;
			text-decoration: underline;
		}
	}
}