.img-container {
	@include border-radius(5px);
	height: 120px;
	width: auto;
	overflow: hidden;

	img {
		@include vertical-align(50%);
		@include dynamic-sizing();
	}

	&.medium {
		height: 300px;
	}

	&.volunteer {
		width: 96px;
	}
}

img {
	@include border-radius(5px);
	&.half-grid {
		width: 50%;
	}

	&.volunteer {
		height: 200px;
	}

	&.partner {
		width: 200px;
		text-align: center;
		max-height: 150px;
		margin-bottom: 10px;
		@include border-radius(0px);
	}

	&.project {
		// height: 300px;
		@include dynamic-sizing();

	}
}