@import '../partials/_vars';

nav {
	border-bottom: $primary solid 3px;
	overflow: auto;
	padding: 5px 0;
	@include drop-shadow($border-gray);

	.nav-logo {
		display: inline-block;
		float: left;
		height: 40px;
		margin-left: 2%;
	}

	ul {
		display: inline-block;
		float: right;
		margin-right: 2%;

		li {
			display: inline-block;
			@include vertical-align(-50%);

			a {
				color: $black;
				padding: 30px;

				/* iPads (portrait and landscape) ----------- */
				@media only screen and (max-device-width : 1024px) {
					padding: 10px;
				}

				&:hover {
					background-color: $primary;
					color: $white;
				}

				&:visited {
					color: $black;
				}
			}
		}
	}
}