#people {
	overflow: hidden;
	clear: both;

	.cell {
		padding: 0;
		display: block;
		float: left;
		overflow: hidden;
		height: 250px;
	}

	.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}

	.person {
		img {
			@include border-radius(0);
		}

		.text {
			position: relative;
			color: $white;
			@include vertical-align(-130%);
			text-align: center;

			h5 {
				padding-bottom: 0;
			}
		}
	}
}