@import '../partials/_vars';
@import '../partials/_mixins';

#sign-up {
	width: 60%;

	label, input {
		display: block;
		margin: 10px 0;
		float: none;
	}

	input[type=text], textarea {
		@include border-radius(5px);
		height: 50px;
		width: 100%;
		border: 1px solid $light-gray;
		font-size: 13px;
	}

	input[type=submit] {
		float: right;
	}
}